@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Audiowide&family=Black+Ops+One&family=Chakra+Petch:wght@300;400;500;600;700&family=Courgette&family=Electrolize&family=Hahmlet:wght@100;200;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&family=Skranji:wght@400;700&display=swap');

/* font-family: 'Poppins',sans-serif*/

* {
    margin: 0;
    padding: 0;
    text-align: center; /* Iteration 2: Align text to the center */
    font-family: 'Poppins',sans-serif; /* Iteration 3: Apply same font to all the elements in the page*/
}
.container-min {
    width: 100%;
    height: auto;
}
.two {
    width: 100%;
    padding: 10px; /* Iteration 4: Apply a padding of '10px' */
}
h1 {
    font-weight: 500;
    font-size: 2.5pc;
}
/* Iteration 5: Create a selector 'h3' and apply font weight of '600' , opacity of the 
   text to '0.6' and minimum space of '0.6px' between letters */
h3 {
    font-weight: 600;
    opacity: .6;
    letter-spacing: .6px; 
}
a {
    color: black;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid gray; /* Iteration 6: use shortand property to apply border of '1px' which is solid and 'gray' coloured */
}
/* Iteration 7: Create a state for hyperlink where the background color should be changed to 
   'rgb(206, 206, 206)' when hovered on it */
a:hover {
    background-color: rgb(206, 206, 206);
}
img {
    width: 80%;
    height: auto;
    margin: 25px 0;
    border-radius: 10px;
}
.footer a {
    border: 0;
}
.footer a:hover {
    background: none;
}
/* Iteration 8: Use appropriate @rule which changes 'h1' font size to '2pc' and images 
   width to '95%' when the screen size have a maximum width of '700px' */
@media (max-width:700px) {
    h1 {
        font-size: 2pc;
    }
    img {
        width: 95%;
    }
}
